@import url('https://fonts.googleapis.com/css?family=Turret+Road&display=swap');

body, html {
    height: 100%;
    font-family: 'Turret Road', cursive;
    background-color: #CCD4E5;
}

#wrapper {
    width: 600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.grid-cell {
    width: 60px;
    height: 60px;
    margin-bottom: 0px;
    outline: 1px solid #474954;
    display: inline-block;
    background: #FBFBFB;
}

#title {
    text-align: center;
    color: #474954;
}

.obstacle {
    background: rgb(231, 230, 230);
}

.weapon {
    background: rgb(204, 255, 211);
}

.character1 {
    background: rgb(221, 180, 255);
}

.character2 {
    background: rgb(209, 244, 255);
}

.highlight {
    background : rgb(255, 244, 198);
}
