@import url('https://fonts.googleapis.com/css?family=Turret+Road&display=swap');

    body, html {
        height: 100%;
        font-family: 'Turret Road', cursive;
        background-color: rgb(205, 224, 230);
    }

    .mainBlock{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    #mainTitle {
        text-align: center;
        color: #000000;
    }

    /* MAP */
    .grid-cell {
        width: 45px;
        height: 45px;
        outline: 1px solid #474954;
        display: inline-block;
        background: #FFF9F7;
    }

    #wrapper {
        width: auto;
        height: auto;
        text-align: center;
        white-space: nowrap;
        margin-bottom: 10px;
        margin: 0px 10px 10px 10px
    }

    #player1Img {
        background-color: rgb(178, 154, 201);
    }

    #player2Img {
        background-color: rgb(175, 201, 154);
    }

    /* CONTAINERS */
    .block {
        outline: 1px solid #474954;
        background-color: #FFF9F7;
    }

    #weaponContainer {
        text-align: center;
        img {
            width: 40px;
        }
        margin: 0px 10px 0px 0px
    }

    .weaponBlock {
        display: inline-block;
        margin: 29px 15px;
    }

    .weaponName {
        margin: 40px 0px;
    }

    .playerBlock {
        display: inline-block;  
    }

    .weaponImg {
        margin-top: 0px;
    }

    .playersContainer {
        text-align: center;
        img {
            width: 40px;
        }
        margin: 0px 10px 10px 0px
    }

    .stopTurnContainer .block {
        padding: 65px 40px;
        margin-bottom: 10px;
    }

    /* FIGHT CONTAINER */
    #fightContainer .block {
        text-align: center;
        margin: 0px 0px 10px 0px;
        padding: 10px 0px 10px 0px
    }
    
    .fightBlock {
        display: inline-block;
    }

    .fightBtn {
        margin: 20px 10px;
    }
    
    .playerLife {
        display: inline-block;
        margin: 20px 30px;
        font-weight: bold;
        padding: 10px;
        border-radius: 8px;
    }

    #comments {
        width: 600px;
        background-color: rgb(228, 233, 236);
        padding: 2px;
        height: auto;
    }

    #NoctuaLife {
        background-color: rgb(178, 154, 201);
    }

    #MarcusLife {
        background-color: rgb(175, 201, 154);

    }

    .NoctuaTurn {
        background-color: rgb(178, 154, 201);
        display: inline-block;
        margin: 20px 30px;
        font-weight: bold;
        padding: 10px;
        border-radius: 8px;
    }

    .MarcusTurn {
        background-color: rgb(175, 201, 154);
        display: inline-block;
        margin: 20px 30px;
        font-weight: bold;
        padding: 10px;
        border-radius: 8px;
    }

    #player1Title {
        background-color: rgb(178, 154, 201);
        display: inline-block;
        margin: 20px 30px;
        font-weight: bold;
        padding: 10px;
        border-radius: 8px;
    }


    #player2Title {
        background-color: rgb(175, 201, 154);
        display: inline-block;
        margin: 20px 30px;
        font-weight: bold;
        padding: 10px;
        border-radius: 8px;
    }

    /* OTHER */
    .highlight {
        background : #F2CC8F;
        cursor: pointer;
        &:hover {
            background-color: rgb(255, 221, 167);
        }
    }

    /* BUTTONS */
    button {
        border: none;
        color: rgb(2, 2, 2);
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        cursor: pointer;
        border-radius: 8px;
    }

    .stopTurnBtn {
        background : #F2CC8F;
        &:hover {
            background-color: rgb(255, 221, 167);
        }
        &:active {
            background-color: rgb(255, 221, 167);
            padding: 13px 30px;
        }
    }

    .retryBtn {
        background-color: #9AC2C9;
        color: black;
        margin-bottom: 10px;
        &:hover {
            background-color: rgb(162, 199, 206);
        }
        &:active {
            background-color: rgb(134, 188, 197);
            padding: 13px 30px;
        }
    }

    .attack {
        background-color: rgb(228, 233, 236);
        &:hover {
            background-color: rgb(212, 142, 142);
        }
        &:active {
            background-color: rgb(228, 151, 151);
            padding: 13px 30px;
        }
    }

    .defend {
        background-color: rgb(228, 233, 236);
        &:hover {
            background-color: rgb(153, 212, 216);
        }
        &:active {
            background-color: rgb(167, 225, 230);
            padding: 13px 30px;
        }
    }