@import url("https://fonts.googleapis.com/css?family=Turret+Road&display=swap");
body, html {
  height: 100%;
  font-family: 'Turret Road', cursive;
  background-color: #cde0e6;
}

.mainBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#mainTitle {
  text-align: center;
  color: #000000;
}

/* MAP */
.grid-cell {
  width: 45px;
  height: 45px;
  outline: 1px solid #474954;
  display: inline-block;
  background: #FFF9F7;
}

#wrapper {
  width: auto;
  height: auto;
  text-align: center;
  white-space: nowrap;
  margin-bottom: 10px;
  margin: 0px 10px 10px 10px;
}

#noctuaImg {
  background-color: #b29ac9;
}

#marcusImg {
  background-color: #afc99a;
}

/* CONTAINERS */
.block {
  outline: 1px solid #474954;
  background-color: #FFF9F7;
}

#weaponContainer {
  text-align: center;
  margin: 0px 10px 0px 0px;
}

#weaponContainer img {
  width: 40px;
}

.weaponBlock {
  display: inline-block;
  margin: 29px 15px;
}

.weaponName {
  margin: 40px 0px;
}

.playerBlock {
  display: inline-block;
}

.weaponImg {
  margin-top: 0px;
}

.playersContainer {
  text-align: center;
  margin: 0px 10px 10px 0px;
}

.playersContainer img {
  width: 40px;
}

.stopTurnContainer .block {
  padding: 65px 40px;
  margin-bottom: 10px;
}

/* FIGHT CONTAINER */
#fightContainer .block {
  text-align: center;
  margin: 0px 0px 10px 0px;
  padding: 10px 0px 10px 0px;
}

.fightBlock {
  display: inline-block;
}

.fightBtn {
  margin: 20px 10px;
}

.playerLife {
  display: inline-block;
  margin: 20px 30px;
  font-weight: bold;
  padding: 10px;
  border-radius: 8px;
}

#comments {
  width: 600px;
  background-color: #e4e9ec;
  padding: 2px;
  height: auto;
}

#NoctuaLife {
  background-color: #b29ac9;
}

#MarcusLife {
  background-color: #afc99a;
}

.NoctuaTurn {
  background-color: #b29ac9;
  display: inline-block;
  margin: 20px 30px;
  font-weight: bold;
  padding: 10px;
  border-radius: 8px;
}

.MarcusTurn {
  background-color: #afc99a;
  display: inline-block;
  margin: 20px 30px;
  font-weight: bold;
  padding: 10px;
  border-radius: 8px;
}

#noctuaTitle {
  background-color: #b29ac9;
  display: inline-block;
  margin: 20px 30px;
  font-weight: bold;
  padding: 10px;
  border-radius: 8px;
}

#marcusTitle {
  background-color: #afc99a;
  display: inline-block;
  margin: 20px 30px;
  font-weight: bold;
  padding: 10px;
  border-radius: 8px;
}

/* OTHER */
.highlight {
  background: #F2CC8F;
  cursor: pointer;
}

.highlight:hover {
  background-color: #ffdda7;
}

/* BUTTONS */
button {
  border: none;
  color: #020202;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  border-radius: 8px;
}

.stopTurnBtn {
  background: #F2CC8F;
}

.stopTurnBtn:hover {
  background-color: #ffdda7;
}

.stopTurnBtn:active {
  background-color: #ffdda7;
  padding: 13px 30px;
}

.retryBtn {
  background-color: #9AC2C9;
  color: black;
  margin-bottom: 10px;
}

.retryBtn:hover {
  background-color: #a2c7ce;
}

.retryBtn:active {
  background-color: #86bcc5;
  padding: 13px 30px;
}

.attack {
  background-color: #e4e9ec;
}

.attack:hover {
  background-color: #d48e8e;
}

.attack:active {
  background-color: #e49797;
  padding: 13px 30px;
}

.defend {
  background-color: #e4e9ec;
}

.defend:hover {
  background-color: #99d4d8;
}

.defend:active {
  background-color: #a7e1e6;
  padding: 13px 30px;
}
/*# sourceMappingURL=style.css.map */