@import url('https://fonts.googleapis.com/css?family=Turret+Road&display=swap');

body, html {
    height: 100%;
    font-family: 'Turret Road', cursive;
    background-color: rgb(207, 224, 145);
}

.grid-cell {
    width: 60px;
    height: 60px;
    margin-bottom: 0px;
    outline: 1px solid #474954;
    display: inline-block;
    background: #FBFBFB;
}

#mainTitle {
    text-align: center;
    color: #474954;
}

.highlight {
    background : rgb(255, 241, 193);
}

/* containers */

.mainBlock{
    text-align: center;
}

#wrapper {
    float: left;
    width: auto;
    height: auto;
    margin-left: 10px;;
    margin-right: 10px;
    display: block;
    white-space: nowrap;
}

.stopTurnBtn {
    background-color: rgb(245, 139, 77);
    border: none;
    color: rgb(255, 255, 255);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    border-radius: 8px;
}

.retryBtn {
    background-color: rgb(198, 119, 250);
    border: none;
    color: rgb(255, 255, 255);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    border-radius: 8px;
}

.stopTurnBtn:hover {
    background-color: rgb(252, 163, 112);
}
.stopTurnBtn:active {
    background-color: rgb(245, 131, 65);
    padding: 13px 30px;
}

#weaponsContainer {
    width: auto;
}

#weaponsContainer img {
    width: 40px;
}

.weaponBlock {
    display: inline-block;
    margin: 0px 15px;
}

.block {
    display: inline-block;
    outline: 1px solid #474954;
    background-color: white;
    padding: 10px;
    margin: 0px 5px 10px 5px;
}

.fightBlock {
    display: inline-block;
    margin: 0px 10px 20px 10px
}

#comments {
    width: 600px;
    background-color: rgb(243, 243, 243);
    padding: 2px;
    height: auto;
}

.playerLife{
    display: inline-block;
    margin: 20px 30px;
}

.fightBtn {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    border-radius: 8px;
    margin: 0px 5px;
}

.attack:hover {
    background-color: rgb(236, 92, 92);
}
.attack:active {
    background-color: rgb(233, 64, 64);
    padding: 13px 30px;
}

.attack {
    background-color: rgb(240, 109, 109);
}

.defend {
    background-color: rgb(160, 160, 255);
}

.defend:hover {
    background-color: rgb(139, 139, 250);
}

.defend:active {
    background-color: rgb(102, 102, 243);
    padding: 13px 30px;
}
